
{% load staticfiles %}
{% include 'header.html' %}
<div class="bs-callout bs-callout-info" style="width: 80%;margin-left: 10%;">
  <h4>{{restname}}</h4>
	<p>
		<b>Info : </b>{{restinfo|safe}}
		<br/>
		<b>Location: </b>{{restlocation}}
	</p>
</div>
	<div class="orders">
	<div class="container">
		<div class="order-top" style="border:0">
			<li class="item-lists" style="width:100%"><h4>Items</h4>
				<table class="table table-hover table-bordered">
					<thead>
						<th>Item Name</th>
						<th>Category</th>
						<th>Price</th>
						<th>Add</th>
					</thead>
				{% for x in items %}
					<tr>
					<td>{{x.0}}</td>
					<td>{{x.1}}</td>
					<td>{{x.2}}</td>
					{% if x.4 == "Open" %}
					{% if x.3 != 0 %}
					<td>
						<span style="border:2px ;padding-left: 10px;padding-right: 10px; cursor:pointer;display:inline-block" onclick="if(document.querySelector('#itemno{{x.5}}').innerHTML>0){document.querySelector('#itemno{{x.5}}').innerHTML--;minuscounter({{x.5}});}">-</span>
						<span id='itemno{{x.5}}'> 0 </span>
						<span style="border:2px ;border-radius:5px; cursor:pointer;padding-left: 10px;padding-right: 10px; display:inline-block;display:inline-block" onclick="if(document.querySelector('#itemno{{x.5}}').innerHTML<{{x.3}}){document.querySelector('#itemno{{x.5}}').innerHTML++;pluscounter({{x.5}});}">+</span>
					</td>
					{% else %}
					<td>
						NA
					</td>
					{% endif %}
					{% else %}
					<td>
						Closed
					</td>
					{% endif %}
					</tr>
				{% endfor %}
				</table>
			</li>
		</div>
		<br/>
		<input type="button" onclick="storearray();" value="Checkout"/>
		<br/>
	</div>
<script type="text/javascript">
	var cart = [];
	function pluscounter(pk){
		cart.push(pk);
		console.log(cart);
	};
	function minuscounter(pk){
		if (cart!=[]){
			var removeindex = cart.indexOf(pk);
			cart.splice(removeindex, 1);
			}
			console.log(cart);
	};

	function storearray(){
		if(cart.length === 0)
		{
			alert('No items selected');
			return false;
		}
		document.cookie = "cart="+cart+";Path=/";
		document.cookie ="rest={{restid}};Path=/";
		window.location = "/checkout/";
	};
</script>
</div>
{% include 'footer.html' %}
