<!--{% load staticfiles %}-->
{% include 'header.html' %}
	<div class="content">
	<div class="container">
		<div class="login-page">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="/" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="/">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
				<div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>User Login</h3>
				<p>If you have an User account with us, please log in here.</p>
					{% if nouser %}
					<div class="alert alert-danger">
						<a class="alert-link">No such User</a>
					</div>
					{% endif %}
					{% if wrongupass %}
					<div class="alert alert-danger">
						<a class="alert-link">Wrong Password</a>
					</div>
					{% endif %}
				<form action="" method="POST">{% csrf_token %}
				  <div>
					<span>Username<label>*</label></span>
					<input type="text" name="username" required>
				  </div>
				  <div>
					<span>Password<label>*</label></span>
					<input type="password" name="password" required>
				  </div>
					<input type="hidden" name="login" value="1">
				  <input type="submit" value="Login">
			    </form>
			   </div>
			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>Restaurant Login</h3>
				<p>If you have a Restaurant account with us, please log in here.</p>
				   {% if norest %}
					<div class="alert alert-danger">
						<a class="alert-link">No such Restaurant</a>
					</div>
					{% endif %}
				   {% if wrongrpass %}
					<div class="alert alert-danger">
						<a class="alert-link">Wrong Password</a>
					</div>
					{% endif %}
				<form action="" method="POST">{% csrf_token %}
				  <div>
					<span>Restaurant ID<label>*</label></span>
					<input type="text" name="restid" required>
				  </div>
				  <div>
					<span>Password<label>*</label></span>
					<input type="password" name="password" required>
				  </div>
					<input type="hidden" name="login" value="2">
				  <input type="submit" value="Login">
			    </form>
			   </div>
			   <div class="clearfix"> </div>
			 </div>
		   </div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="login-page">
			<div class="account_grid">
				<div class="col-md-3"></div>
		   		<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.4s">
		  	 		<h3>NEW CUSTOMERS</h3>
			 		<p style="margin: 0 0 2em 0;font-size: 1.1em;line-height: 1.5em">By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
			 		<a class="acount-btn" href="/register/">Create an Account</a>
		   		</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
	<br/><br/>
</div>
{% include 'footer.html' %}
